{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>ISS LineupForm</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/Images/Picture21.png' %}">
    <link rel="stylesheet" href="{% static 'css/Pages.css' %}">
</head>
<body>
    <a href="{%url 'lineupform'%}" class="back">Back</a>
    <section class="Container3">
        <header class="HeaderBar">
            <div class="title1">
                <h1>Port Information Form</h1>
            </div>

        </header>    
        <form class="mainForm" method="post" id="portBerthForm">
        {% csrf_token %}
        <section class="form1">
            <h1 class="h1T">Berth Information</h1>
            <div class="item">
                <label for="country">Country:</label>
                <input list="country" id="country" class="fill" name="country" required>
            </div>
            <div class="item">
                <label for="port">Port:</label>
                <input list="port" id="port" class="fill" name="port" required>
            </div>
            <div class="item">
                <label for="1st_pic">Person In Charge:</label>
                <input list="1st_pic" id="1st_pic" class="fill" name="1st_pic" required>
            </div>
            <div class="item">
                <label for="2st_pic">Manager:</label>
                <input list="2st_pic" id="2st_pic" class="fill" name="2st_pic" required>
            </div>
            <div class="item">
                <label for="3st_pic">Zonal Manager:</label>
                <input list="3st_pic" id="3st_pic" class="fill" name="3st_pic" required>
            </div>
        </section>

        <div id="berthSections">
            <!-- Initial berth section -->
            <section class="form2 berth-section">
                <div class="item">
                    <label for="berth">Berth:</label>
                    <input list="berth" class="fill" name="berth" required>
                </div>
                <div class="item">
                    <label for="PermissibleDraft">Permissible Draft In Mtrs:</label>
                    <input list="PermissibleDraft" class="fill" name="PermissibleDraft" required>
                </div>
                <div class="item">
                    <label for="LOBerth">Length of Berth:</label>
                    <input list="LOBerth" class="fill" name="LOBerth" required>
                </div>
                <div class="item">
                    <div cargoHandled>
                        <label for="cargoType">Cargos Handled on Berth: </label>
                        <p class="comment">(Write all the cargo handled at berth separated by '/')</p>
                    </div>
                    <input class="fill1" name="cargoType" required>
                </div>
                <div class="item">
                    <label for="terminal">Terminal:</label>
                    <input list="terminal" class="fill" name="terminal">
                </div>
                <div class="item">
                    <label for="BerthRemarks">Remarks:</label>
                    <input list="BerthRemarks" class="fill" name="BerthRemarks">
                </div>
                <button type="button" class="Submitb remove-berth">Remove Berth</button>
            </section>
        </div>
        <section class="button">
            <button type="button" class="Submitb" id="addPort">Add Another Berth</button>
            <button type="reset" class="Submitb" id="clearAll">Reset</button>
            <button type="submit" class="Submitb" id="submit">Submit</button>
        </section>
    </form>
    </section>
    
<script src="{% static 'js/addPortBerth.js' %}">
    
    
</script>    
</body>
</html>