body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.page{
    display: flex;
    flex-direction: column;
}
.video-background { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; }
img{
    display: flex;
    justify-content: center;
    width: 16vw;
}
form{
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
}
.login{
    border: 1px solid rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 650px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba 0,0,0,0.7;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 100px;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.521);
}
.cred{
    display: flex;
    flex-direction: column;
    width: 18vw;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    align-items: center;
}
label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
input{
    background: rgba(255, 255, 255, 0.3);
    width: 15vw;
    line-height: 4vh;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-family: monospace;
    font-size: 16px;
}
input::placeholder{
    color: white;
}
button{
    background: #e14949;
    height: 4vh;
    width: 17vw;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: monospace;
    font-size: 16px;
}
.Bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 14px;
    align-items: center;
}
.BottomUR{
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 14px;
}
.add{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 14px;
}
select{
    height: 6vh;
    width: 17vw;
    border-radius: 40px;
    font-family: monospace;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    margin-bottom: 2vh;
}
option{
    height: 40px;
    margin: 1vh;
    font-family: monospace;
    font-size: 16px;
    background: #cecdcd;
}
center{
    font-family: monospace;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login{
        width: 70%;
    }
    .cred{
        width: 60vw;
    }
    input{
        width: 25vw
    }
    .botton{
        width: 29vw
    }
}

@media (max-width: 430px) {
    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login{
        width: 95%;
    }
    .cred{
        width: 60vw;
    }
    input{
        width: 45vw
    }
    .botton{
        width: 52vw
    }
}